/*                 background              */
*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.flex-space-around{
    display: flex;
    justify-content: space-around;
    flex-flow: wrap;
}
.flex-space-between{
    display: flex;
    justify-content: space-between;
    flex-flow: wrap;
}
.grid{
    display: grid;
}
.flex-reverse{
    display: flex;
    flex-direction: row-reverse;
}
.home{
    width: 100vw;
    overflow: hidden;
}

form{
    padding: 20px;
    border-top: 2px solid white;
    margin: 20px !important;
}
a{
    color: white !important;
}
.big{
    font-size: 15px;
}
.h1{
    font-weight: bolder;
    font-size: 30px;
}
.white{
    color:white;
}
input,select,option{
    font-size: large !important;
    padding: 10px !important;
    margin-top: 10px !important;
    margin-bottom: 10px !important;
}
input:focus,select:focus{
    border: 2px solid rgb(0, 255, 0) !important;
}
.img{
    z-index: -1;
    height: 100vh;
    width: 100vw;
    position: fixed;
}

.images img{
    height: 200px;
    margin: 20px;
    transition: transform .5s ease;
}
.images img:hover{
    transform: scale(1.1);
}
.images{
    width: fit-content;
    display: flex;
    overflow: hidden;
}
.highlights{
    text-align: center;
    background-color: #6e61615d;
}

/*   image scroller view */
.images{
    animation: slideshow 10s linear infinite;
}
@keyframes slideshow {
    0%{
        transform: translateX(0);
    }

    100%{
        transform: translateX(-2200px);
    }
}
/*             Nav bar                */

.bas{
    background-color: red !important;
}
.menubar{
    color: white;
    background-color: rgb(17, 115, 97);
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header{
    display: flex;
    align-items: center;
}
.menuitems,.icons{
    font-size: larger;
    justify-content: center;
    align-items: center;
    align-self: center;
    margin: 10px;
}
.menuitems a{
    margin: 10px;
}
.menuitems a:hover{
    font-weight: bold;
}



/*                  slider                       */
.section{
    color: white;
    background-color: rgba(0, 0, 0, 0.707);
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2) inset, 0 6px 20px 0 rgba(0, 0, 0, 0.19) inset;
}
.section-head{
    padding: 20px;
    font-size: 40px;
    text-align: center;
}

.slider{
    display: flex;
}

.slider div{
    padding: 20px;
    margin: 10px;
    border-radius: 50%;
    box-shadow: 0.5px 0.5px 0.5px 1.5px rgba(255, 255, 255, 0.659);
}
.slider div:hover{
    box-shadow: 0.5px 0.5px 0.5px 1.5px rgba(62, 114, 89, 0.808);
}

/*  */



@media screen and (max-width: 800px) {
    .menuitems{
        position: absolute;
        visibility: hidden;
    }
    .icons{
        font-size: 10px;
    }
    .title{
        font-size: 20px;
    }
}



/* Akbox */
.akbox input{
    background-color: white !important;
}
.akbox button{
    /* background-color: white !important;
    color: green !important; */
    font-weight: bold !important;
}
.akbox{
    z-index: -1;
    margin: 50px;
    background-color: rgba(0, 0, 0, 0.686);
    border-radius: 10px;
}
.titlebar{
    padding: 10px;
    margin: auto !important;
    width: fit-content;
    font-size: 50px;
    color: white;
}
.akbox label,.field label{
    font-weight: lighter !important;
    color: white !important;
    font-size: 20px !important;
}
.sign_in{
    padding-top: 30px;
}
.btn-small{
    margin: 20px;
    font-size: 50px;
}

.flexbox-fill{
    margin-left: 20px;
    margin-right: 20px;
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 10px;
}
.flexbox-fill a{
    /* padding: 20px; */
    margin-left: 5px;
    margin-right: 5px;
    text-align: center;
}
.blue{
    background-color: #0055a5;
}
.green{
    background-color: rgb(55, 174, 55);
}


table *{
    text-align: center;
}
th{
    background-color: rgba(110, 162, 110, 0.645) !important;
}
th,td{
    font-size: 20px !important;
}

div #example_info {
    color: white;
}


.success{
    color: white;
    font-size: 20px;
    background-color: rgb(71, 181, 71);
    margin: 20px;
    padding: 10px;
    text-align: center;
}
.error{
    padding: 10px;
    margin: 20px;
    color: white;
    font-size: 20px;
    background-color: rgb(233, 87, 87);
    text-align: center;
}


/* margin */
.my-1{
    margin-top: 5px;
    margin-bottom: 5px;
}
.my-2{
    margin-top: 10px;
    margin-bottom: 10px;
}
.my-3{
    margin-top: 20px;
    margin-bottom: 20px;
}
.my-4{
    margin-top: 30px;
    margin-bottom: 30px;
}

/* search  */
.searchtable{
    margin: 0 !important;
    padding: 0px !important;
    font-size: 1vw !important;
    width: calc(100%-10px);
    margin: 0px;
    padding: 0;
    display: grid;
    grid-template-columns: auto auto auto auto;
}
.searchtable div label{
    font-size: min(20px,6vw) !important;
}
.searchtable div input{
    padding-left: 0px !important;
    margin-left: 0px !important;
    font-size: min(20px,4vw) !important;
    text-align: center;
    width: 99%;
    margin: 5px;
    background-color: transparent !important;
    color: white;
    border: none;
    border-bottom: 1px solid grey;
}
.searchtable div input:focus{
    outline: none;
    border: none !important;
    color: rgb(18,255,1);
    border-bottom: 1.5px solid rgb(18, 255, 1) !important; 
}
.searchtable div input::placeholder{
    color: rgb(191,191,191);
}

#datatable{
    height: max-content;
}

.cross{
    cursor: pointer;
    position: absolute;
    top: 35%;
    right: 0;
    color: rgb(196, 191, 191);
    font-size: 15px !important;
    background: transparent;
    border: none;
}
.cross:hover{
    color: white;
}

.inpbox{
    position: relative;
}

/* custom scrollbar */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background-color: whitesmoke;
    box-shadow: inset 0 0 1px grey; 
    border-radius: 3px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.359); 
    border-radius: 5px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: rgba(0, 0, 0, 0.531); 
  }


/* .formcontain{
    position: relative;
}
.sideicon{
    position: absolute;
    left: 10px;
    top: 35%;
}
.formcontain input{
    padding-left: 50px !important;
}
.formcontain i{
    font-size: x-large !important;
    color: green !important;
} */

/* booking */
.booking_details{
    display: flex;
    flex-direction: column;
    margin: 10px;
}
.booking_details div{
    display: flex;
    align-items: center;
    margin: 10px;
}
.booking_details div div{
    font-size: 22px;
}
.booking_details div i{
    color: white;
}
.doct_prof img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 2px solid white;
    z-index: 1;
}
.doct_prof div{
    width: max-content;
    border: 2px solid white;
    border-radius: 5px;
    padding: 12px;
    z-index: 0;
    margin-left: -10px;
    background-color: rgb(9, 134, 111);
}
.doct_det i{
    margin: 20px !important;
    margin-left: 30px !important;
    margin-right: 30px !important;
    font-size: xx-large !important;
}


/* loader */
.back{
    background-color: rgba(0, 0, 0, 0.693);
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.loader{
    height: 200px;
    width: 250px;
    overflow: hidden;
    position: absolute;
    margin: auto;
}
.loader::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: url('images/loader.svg');
    animation: react 2s linear infinite;
}
@keyframes react{
    0%{
        clip: rect(0,-50px,200px,0);
    }
    25%{
        clip: rect(0,80px,200px,0);
    }
    75%{
        clip: rect(0,170px,200px,0);
    }
    100%{
        clip: rect(0,250px,200px,0);
    }
} 