{% load static %} {% block body %} {% include 'navbar.html' %}
<div
  class="home"
  style="
    width: 100vw;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
  "
>
  <div
    style="
      max-width: 600px;
      background-color: rgba(0, 0, 0, 0.686);
      padding-top: 30px;
      border-radius: 10px;
    "
  >
    <h6 align="center" class="h1 white">Reset Password</h6>
    <form
      class="ui form"
      style="padding: 1rem"
      method="POST"
      autocomplete="off"
    >
      {% csrf_token %}
      <label for="pass" class="white" style="font-size: 20px"
        >New Password :
      </label>
      <input type="password" name="pass" id="pass" placeholder="Enter Email" />
      <label for="cpass" class="white" style="font-size: 20px"
        >Confirm Password :
      </label>
      <input
        type="password"
        name="cpass"
        id="cpass"
        placeholder="Enter Email"
      />
      <input type="hidden" name="uid" value="{{user_id}}" />
      <div style="display: grid; grid-template-columns: auto auto auto">
        <button class="ui blue button" type="submit">Reset Password</button>
      </div>
    </form>
  </div>
</div>

{%if user_id == 'used'%}
<script>
  alert('This token for resetting passwprd can be used only once')
  window.location = ('{%url 'plogin'%}')
</script>
{%endif%} {% endblock body %}
