{%load static%} {% block block %} {% include 'navbar.html' %}

<div class="home">
  <div class="highlights">
    <div class="section-head">Highlights</div>
    <div class="images">
      {%for image in images%}
      <img src="{%static 'images/'%}{{image}}" alt="img" />
      {%endfor%}
    </div>
  </div>
  {% comment %} section_head {% endcomment %}
  <div class="section">
    <div class="section-head"></div>
    <div class="slider">
      <i class="big left angle icon"></i>
      <i class="big right angle icon"></i>
      <div class="section-item"><i class="heartbeat huge icon"></i></div>
      <div class="section-item"><i class="heartbeat huge icon"></i></div>
      <div class="section-item"><i class="heartbeat huge icon"></i></div>
      <div class="section-item"><i class="heartbeat huge icon"></i></div>
      <div class="section-item"><i class="heartbeat huge icon"></i></div>
    </div>
  </div>
  <div class="back">
    <div class="loader"></div>
  </div>
</div>
{% endblock block %}
