{%load static%} {% block block %} {% include 'navbar.html' %}

<div class="home">
  <div class="highlights">
    <div class="section-head">Highlights</div>
    <div class="images">
      {%for image in images%}
      <img src="{%static 'images/'%}{{image}}" alt="img" />
      {%endfor%}
    </div>
  </div>
  {% comment %} section_head {% endcomment %}
  <div class="section">
    <div class="h1">Top Blogs</div>
    {% for news in newss %}
    <div class="card">
      {% if forloop.counter0|divisibleby:"2"%}
      <img src="{%static 'images/'%}{{news.img}}" />
      <div class="content">
        <div class="title">{{news.title}}</div>
        {{news.content}}
      </div>
      {% else %}
      <div class="content">
        <div class="title">{{news.title}}</div>
        {{news.content}}
      </div>
      <img src="{%static 'images/'%}{{news.img}}" />
      {% endif %}
    </div>
    {% endfor %}
  </div>
</div>
{% endblock block %}
